
/*
 * VARIABLES
 **/

$BREAKPOINTS: (
  xs: null,
  sm: 576px,
  md: 768px,
  ld: 992px,
  xl: 1200px
);

$GRID_COLUMNS: 12;

$GRID_CONTAINERS: (
  xs: 360px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Unit on which all spacing is based
$SPACING_BASE: 4px;

// Modular spacing scale
$SPACING_LEVELS: (0, 0.5, 1, 2, 3, 4, 6, 8, 12, 16);
$SPACING_MAP: ();







