 
* {
	box-sizing: border-box;
}

@import "breakpoints"; 
@import "grid";
@import "spacing"; 

$color-interactive: #007aff;
$color-background-tinted: rgba(0,0,0,0.08);
$color-text-primary: rgba(0,0,0,0.87);
$color-text-secondary: rgba(0,0,0,0.55); 

body {
	color: $color-text-primary;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	padding: 0;
}

a {
	color: $color-interactive;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	@include stack(4);
}

h1 {
	@include stack(6);
	font-size: 200%;
}


.tint, .example, .example-inner {
	background: $color-background-tinted;
	overflow: hidden; 
} 

.example, .example-inner {
	border-radius: 4px;
} 

.example {
	@include stack(2);
}

.example-inner {
	@include inset(2);
	text-align: center;
}

.caption {
	font-size: 75%;
}



